// main
// $color: #666;
$regularText: #606266;
$primary: #07a2a4;
$main-background: #f1f4f5;

// asside
$asside-background: #f1f4f5;
$asside-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12),
	0 8px 10px -5px rgba(0, 0, 0, 0.2);

// header
$header-background: #f1f4f5 !important;

// card
$border: 1px solid rgba(0, 0, 0, 0.125);
$border-radius: 0.1875rem;
$box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

/* theme color */
$--color-primary: $primary;

/* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";

.makaron-theme-colors {
	color: #dc69aa #c14089 #6f5553 #7eb00a #c9ab00 #c05050 #f5994e, #588dd5, #9a7fd1 #07a2a4, #dc69aa, #95706d, #97b552,
		#e5cf0d, #8d98b3, #d87a80, #ffb980, #5ab1ef, rgb(182, 162, 222), #2ec7c9, #59678c;
}
